@page "/products"
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IToastService ToastService

<PageTitle>Products</PageTitle>

<ModuleTitle Title="Products" />

<button class="btn btn-dark mb-5" @onclick="OnNavigateToAddProduct">
    Add product
</button>

@if (_products?.Count > 0)
{
    <div class="products-container">
        @foreach (var product in _products)
        {
            <div class="card">
                <img class="card-img-top" src="@product.Images[0]" alt="Product" loading="lazy" width="270" height="210">
                <div class="card-body">
                    <h4><b>@product.Title</b></h4>
                    <p>@product.Price?.ToString("C")</p>
                    <button title="Delete" class="btn btn-danger btn-delete" @onclick="@(() => DeleteProdut(product))">
                        <span class="oi oi-trash"></span>
                    </button>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

}


@code {
    private List<Product>? _products;

    protected override async Task OnInitializedAsync()
    {
        await GetProducts();
    }

    private async Task GetProducts() => _products = await ProductService.Get() ?? new List<Product>();


    private void OnNavigateToAddProduct() => NavigationManager.NavigateTo("/add-product");

    private async Task DeleteProdut(Product product)
    {
        if (!await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to remove {product.Title}"))
            return;

        await ProductService.Delete(product.Id);

        ToastService.ShowSuccess("Deleted product");

        await GetProducts();
    }
}